.quizPage{
    /*width: 50%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizConatiner{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    width: 60%;
}