body{
    min-height: 100vh;
    background: linear-gradient(#460A75, #11062B);
}

.container{
    max-width: 90%;
    margin: auto;
}

.section-container{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    margin-top: 40px;
}



*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}