.userCard{
    background-color: #58288A;
    border-radius: 10px;
    width: 50%;
}

.mainInfa{
    display: flex;
    align-items: center;
    gap: 10px;
}

.name{
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
}

.name:hover{
    color: #FDB94B;
    transition: all 0.2s;
}

.textInfa{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text{
    color: #fff;
}

.numberBlock{
    background-color: #fff;
    border-radius: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}