.quizCard{
    background-color: #58288A;
    border-radius: 10px;
    width: 100%;
}

.cardСontainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quizTitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #FDB94B;
    cursor: pointer;
}

.description{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.otherInfa{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.difficulty{
    font-size: 16px;
    font-weight: 600;
}

.easy{
    color: green;
}

.medium{
    color: #FDB94B;
}

.hard{
    color: red;
}

.author{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}