.formBlock{
    background-color: #3C1D5D;
    width: 25vw;
    border-radius: 10px;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 50px 0;
}

.logos{
    width: 100px;
    height: 100px;
}

.formHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.formTitle{
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}